/* мій стиль сайту */
:root {
  --titw1: "Raleway", sans-serif;
  --span1: "Raleway", sans-serif;
  --list1: "Roboto", sans-serif;
}
.hero {
  width: 1600px;
  height: 600px;
  top: 80px;
  gap: 0px;
  opacity: 0px;
  background-color: rgba(47, 48, 58, 1);
}
.hero .big {
  font-family: var(--list1);
  font-size: 44px;
  font-weight: 900;
  font-style: normal;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-top: 280px;
  margin-left: 452px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.titw1,
.Webst2 {
  font-family: var(--titw1);
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(33, 150, 243, 1);
}
.span1 {
  font-family: var(--span1);
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-align: left;
  color: black;
}
.span2 {
  font-family: var(--span1);
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
  letter-spacing: 0.03em;
  text-align: left;
  color: white;
}
.list1 a {
  font-family: var(--list1);
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(33, 33, 33, 1);
}
.list1 {
  color: white;
}
.list1 .studio {
  font-family: var(--list1);
  font-weight: 100;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  letter-spacing: 0.02em;
  text-align: left;
  color: rgba(33, 150, 243, 1);
}
.butt1 {
  font-family: var(--list1);
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  border-color: rgba(33, 150, 243, 1);
  margin-left: 692px;
  margin-top: 430px;
}
.photo1 {
  color: white;
}
.list2 h1 {
  font-family: var(--list1);
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(33, 33, 33, 1);
}
.list2 p {
  font-family: var(--list1);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(117, 117, 117, 1);
}
.list2 {
  display: flex;
  justify-content: center;
  /* margin-top: 774px;
  margin-left: 215px;
  margin-right: 215px;
  margin-bottom: 1474px; */
  color: white;
}
.list2 li {
  padding: 30px;
}
.phtext1 {
  font-family: var(--list1);
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(33, 33, 33, 1);
}
.phtext2 {
  font-family: var(--list1);
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(33, 33, 33, 1);
}
.photo2 p {
  font-family: var(--list1);
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(117, 117, 117, 1);
}
.photo2 h3 {
  font-family: var(--list1);
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(33, 33, 33, 1);
}
.box1 footer li {
  font-family: var(--list1);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}
footer a {
  color: rgba(255, 255, 255, 0.6);
}
.container5 {
  display: flex;
  flex-direction: column;
}
footer {
  background-color: rgba(47, 48, 58, 1);
  color: rgba(47, 48, 58, 1);
}
.adress {
  color: rgba(255, 255, 255, 1);
}
.team2 {
  background-color: rgba(245, 244, 250, 1);
}

.photo2 {
  color: rgba(245, 244, 250, 1);
}
.list1 a:hover,
a:focus {
  color: rgba(33, 150, 243, 1);
}
.box1 {
  width: 270px;
  height: 368px;
  top: 1632px;
  left: 215px;
  gap: 0px;
  border-radius: 0px 0px 4px 4px;
  opacity: 0px;
  background-color: rgba(255, 255, 255, 1);
}
.container {
  display: flex;
}
.container0 {
  display: flex;
  justify-items: flex-end;
}
.list1 li {
  margin-left: 30px;
}
.container3 {
  display: flex;
  justify-content: center;
}
.container3 li {
  margin-left: 30px;
}
.container4 {
  display: flex;
  justify-content: center;
}
.container4 li {
  margin-left: 30px;
}
.list1 {
  display: flex;
}
